.dayList {
  display: block;
  display: grid;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% ;
  gap: 2%;
  margin: 20px;
}
